/* 
Please don't touch this file if you don't know the $hit you're doing.
*/

/* Importing responsive here to ise it later */
@use "responsive";

/* 

 Table of contents:
    1. Colors
    2. Fonts
    3. Transitions
    4. Alignments

*/

/* 000000000000000000000000000000000000000000000 START OF COLORS 0000000000000000000000000000000000000000000000000000000000000000000000000 */

$textColor: black;


/* 000000000000000000000000000000000000000000000 END OF COLORS 0000000000000000000000000000000000000000000000000000000000000000000000000 */

/* 000000000000000000000000000000000000000000000 START OF FONTS 0000000000000000000000000000000000000000000000000000000000000000000000000 */

/* REGULAR WEIGHT, BOLD */

$pageTitle: 16px;
$headingDesktop: 30px;
$headingPhone: 25px;

@font-face {
    font-family: "futura-pt";
    src: url("../fonts/futura/FuturaPTBold.otf") format("opentype");
}

@font-face {
    font-family: "proxima-nova";
    src: url("../fonts/proxima/ProximaNova-Regular.otf") format("opentype");
}

$heading: "futura-pt";
$regularTxt: "proxima-nova";

@mixin heading {
    font-family: $heading;
    margin-bottom: 30px;
    font-weight: 700;

    @include responsive.ld {
        font-size: $headingDesktop !important;
    }

    @include responsive.sd {
        font-size: $headingDesktop;
    }

    @include responsive.mt {
        font-size: $headingDesktop;
    }

    @include responsive.mp {
        font-size: $headingPhone;
    }

    @include responsive.sp {
        font-size: $headingPhone;
    }
}

%heading {
    @include heading;
}

/* 00000000000000 NEXT FONT 00000000000000 */

$letterSpacing: 1px;

/* OPEN SANS. Used for other text, works with russian language. Change letter spacing to 2px. */
/* REGULAR AND BOLD */
$textDesktop: 16px;
$textPhone: 18px;

@mixin regularText {
    letter-spacing: $letterSpacing;
    line-height: 170%;
    font-family: $regularTxt;
    color: $textColor;

    @include responsive.ld {
        font-size: $textDesktop !important;
    }

    @include responsive.sd {
        font-size: $textDesktop;
    }

    @include responsive.mt {
        font-size: $textDesktop;
    }

    @include responsive.mp {
        font-size: $textPhone;
    }

    @include responsive.sp {
        font-size: $textPhone;
    }
}

%regularText {
    @include regularText;
}

/* 000000000000000000000000000000000000000000000 END OF FONTS 0000000000000000000000000000000000000000000000000000000000000000000000000 */

/* 000000000000000000000000000000000000000000000 START OF BUTTONS 0000000000000000000000000000000000000000000000000000000000000000000000000 */

@mixin buttons {
    font-family: $regularTxt;
    font-weight: 700;
    letter-spacing: 1px;
}

%buttons {
    @include buttons;
}

/* 000000000000000000000000000000000000000000000 START OF TRANSITIONS 0000000000000000000000000000000000000000000000000000000000000000000000000 */

/* TRANSITIONS */
@mixin transition {
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

%transition {
    @include transition;
}

/* 000000000000000000000000000000000000000000000 END OF TRANSITIONS 0000000000000000000000000000000000000000000000000000000000000000000000000 */

/* 000000000000000000000000000000000000000000000 START OF ALIGNMENT 0000000000000000000000000000000000000000000000000000000000000000000000000 */

@mixin absolutelyCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%absolutelyCentered {
    @include absolutelyCentered;
}

@mixin flex-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

%flex-wrap {
    @include flex-wrap;
}

@mixin flex-nowrap {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

%flex-nowrap {
    @include flex-nowrap;
}

@mixin imgBackground {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

%imgBackground {
    @include imgBackground;
}