/* 
Please don't touch this file if you don't know the $hit you're doing.
*/
/* Importing responsive here to ise it later */
/* 

TABLE OF CONTENTS:

1. Computer Devices
2. Phone Devices
3. Tablets 

Made by Dominik for Digital Saw.

DO NOT CHANGE THIS FILE IF YOU DON'T KNOW WHAT YOU'RE DOING!!!

Later you can simply do next steps:
@include ld {
    some code etc
}
@include sd {
    some code etc
}

*/
/* Landscape */
/* 

 Table of contents:
    1. Colors
    2. Fonts
    3. Transitions
    4. Alignments

*/
/* 000000000000000000000000000000000000000000000 START OF COLORS 0000000000000000000000000000000000000000000000000000000000000000000000000 */
/* 000000000000000000000000000000000000000000000 END OF COLORS 0000000000000000000000000000000000000000000000000000000000000000000000000 */
/* 000000000000000000000000000000000000000000000 START OF FONTS 0000000000000000000000000000000000000000000000000000000000000000000000000 */
/* Raleway. Used for titles, works with russian letters. */
/* REGULAR WEIGHT, BOLD */
/* 00000000000000 NEXT FONT 00000000000000 */
/* OPEN SANS. Used for other text, works with russian language. Change letter spacing to 2px. */
/* REGULAR AND BOLD */
/* 000000000000000000000000000000000000000000000 END OF FONTS 0000000000000000000000000000000000000000000000000000000000000000000000000 */
/* 000000000000000000000000000000000000000000000 START OF BUTTONS 0000000000000000000000000000000000000000000000000000000000000000000000000 */
/* 000000000000000000000000000000000000000000000 START OF TRANSITIONS 0000000000000000000000000000000000000000000000000000000000000000000000000 */
/* TRANSITIONS */
/* 000000000000000000000000000000000000000000000 END OF TRANSITIONS 0000000000000000000000000000000000000000000000000000000000000000000000000 */
/* 000000000000000000000000000000000000000000000 START OF ALIGNMENT 0000000000000000000000000000000000000000000000000000000000000000000000000 */
/* 

TABLE OF CONTENTS:

1. Computer Devices
2. Phone Devices
3. Tablets 

Made by Dominik for Digital Saw.

DO NOT CHANGE THIS FILE IF YOU DON'T KNOW WHAT YOU'RE DOING!!!

Later you can simply do next steps:
@include ld {
    some code etc
}
@include sd {
    some code etc
}

*/
/* Landscape */
/* 
Please don't touch this file if you don't know the $hit you're doing.
*/
/* Importing responsive here to ise it later */
/* 

TABLE OF CONTENTS:

1. Computer Devices
2. Phone Devices
3. Tablets 

Made by Dominik for Digital Saw.

DO NOT CHANGE THIS FILE IF YOU DON'T KNOW WHAT YOU'RE DOING!!!

Later you can simply do next steps:
@include ld {
    some code etc
}
@include sd {
    some code etc
}

*/
/* Landscape */
/* 

 Table of contents:
    1. Colors
    2. Fonts
    3. Transitions
    4. Alignments

*/
/* 000000000000000000000000000000000000000000000 START OF COLORS 0000000000000000000000000000000000000000000000000000000000000000000000000 */
/* 000000000000000000000000000000000000000000000 END OF COLORS 0000000000000000000000000000000000000000000000000000000000000000000000000 */
/* 000000000000000000000000000000000000000000000 START OF FONTS 0000000000000000000000000000000000000000000000000000000000000000000000000 */
/* Raleway. Used for titles, works with russian letters. */
/* REGULAR WEIGHT, BOLD */
/* 00000000000000 NEXT FONT 00000000000000 */
/* OPEN SANS. Used for other text, works with russian language. Change letter spacing to 2px. */
/* REGULAR AND BOLD */
/* 000000000000000000000000000000000000000000000 END OF FONTS 0000000000000000000000000000000000000000000000000000000000000000000000000 */
/* 000000000000000000000000000000000000000000000 START OF BUTTONS 0000000000000000000000000000000000000000000000000000000000000000000000000 */
/* 000000000000000000000000000000000000000000000 START OF TRANSITIONS 0000000000000000000000000000000000000000000000000000000000000000000000000 */
/* TRANSITIONS */
/* 000000000000000000000000000000000000000000000 END OF TRANSITIONS 0000000000000000000000000000000000000000000000000000000000000000000000000 */
/* 000000000000000000000000000000000000000000000 START OF ALIGNMENT 0000000000000000000000000000000000000000000000000000000000000000000000000 */
/* 

TABLE OF CONTENTS:

1. Computer Devices
2. Phone Devices
3. Tablets 

Made by Dominik for Digital Saw.

DO NOT CHANGE THIS FILE IF YOU DON'T KNOW WHAT YOU'RE DOING!!!

Later you can simply do next steps:
@include ld {
    some code etc
}
@include sd {
    some code etc
}

*/
/* Landscape */
/* 
Please don't touch this file if you don't know the $hit you're doing.
*/
/* Importing responsive here to ise it later */
/* 

TABLE OF CONTENTS:

1. Computer Devices
2. Phone Devices
3. Tablets 

Made by Dominik for Digital Saw.

DO NOT CHANGE THIS FILE IF YOU DON'T KNOW WHAT YOU'RE DOING!!!

Later you can simply do next steps:
@include ld {
    some code etc
}
@include sd {
    some code etc
}

*/
/* Landscape */
/* 

 Table of contents:
    1. Colors
    2. Fonts
    3. Transitions
    4. Alignments

*/
/* 000000000000000000000000000000000000000000000 START OF COLORS 0000000000000000000000000000000000000000000000000000000000000000000000000 */
/* 000000000000000000000000000000000000000000000 END OF COLORS 0000000000000000000000000000000000000000000000000000000000000000000000000 */
/* 000000000000000000000000000000000000000000000 START OF FONTS 0000000000000000000000000000000000000000000000000000000000000000000000000 */
/* Raleway. Used for titles, works with russian letters. */
/* REGULAR WEIGHT, BOLD */
/* 00000000000000 NEXT FONT 00000000000000 */
/* OPEN SANS. Used for other text, works with russian language. Change letter spacing to 2px. */
/* REGULAR AND BOLD */
/* 000000000000000000000000000000000000000000000 END OF FONTS 0000000000000000000000000000000000000000000000000000000000000000000000000 */
/* 000000000000000000000000000000000000000000000 START OF BUTTONS 0000000000000000000000000000000000000000000000000000000000000000000000000 */
/* 000000000000000000000000000000000000000000000 START OF TRANSITIONS 0000000000000000000000000000000000000000000000000000000000000000000000000 */
/* TRANSITIONS */
/* 000000000000000000000000000000000000000000000 END OF TRANSITIONS 0000000000000000000000000000000000000000000000000000000000000000000000000 */
/* 000000000000000000000000000000000000000000000 START OF ALIGNMENT 0000000000000000000000000000000000000000000000000000000000000000000000000 */
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  background-color: #F9F9F9;
}
/*# sourceMappingURL=style.css.map */